
body {
    width: 1480px;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header-title {
    display: block;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    margin-top: 63px;
    margin-bottom: 40px;
    color: #000000;
    text-decoration: none;
}

.header-title-blue {
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0px;
    color: #4BCAFF;
}

.header-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    height: 72px;
    padding: 0 160px;
}

.header-list .header-list-item .header-list-link {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    display: block;
    padding: 22px 33px 22px 33px;
    text-align: center;
    border-right: 1px solid #fff;
}

.header-list .header-list-item .header-list-link.border {
    border-left: 1px solid #fff;
}

.header-list .header-list-item .header-list-link:hover {
    background-color: #222F3A;
}

.header-list .item-3 {
    width: 284px;
    border-right: 1px solid #fff;
}

.header-list .item-4 {
    width: 221px;
    border-right: 1px solid #fff;
    margin-right: 160px;
} 

.main-content {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}

.side-nav {
    width: 30%;
}

.side-description {
    width: 70%;
}

.side-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
}

.side-nav-list .side-nav-link {
    text-decoration: none;
    display: block;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    padding: 26px 42px;
}

.side-nav-item .side-nav-link:hover {
    background-color: #DBDBDB;
    text-align: center;
    transition: 0.5s;
}

.main-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.main-image-wrapper img {
    padding: 75px 0;
}

.main-image-wrapper img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.main-description {
    margin-top: 37px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.main-description:last-child {
    margin-top: 13px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 51px;
    margin-bottom: 30px;
    height: 68px;
    background-color: #63696E7A;
}

.footer-list {
    padding: 20px 0;
}

.footer-item {
    display: inline-block;
    padding: 0 10px;
}

.footer-list .footer-link {
    display: block;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 68px;
    color: #010101;
}